.wrapper {
	height: 75px;
	display: flex;
	justify-content: space-between;
}

.item {
	width: 33%;
	height: 65px;
	text-align: center;
	cursor: pointer;
	line-height: 65px;
	background-color: #E899CF;
	font-size: 32px;
	color: #fff;
	transition: top 0.2s ease;
	position: relative;
	top: 0;
}

.selectedItem {
	background-color: #FFD484;
	position: relative;
	top: 10px;
}