.background {
	width: 100%;
	height: auto;
	min-height: 100%;
	position: absolute;

}
.wrapper {
	width: 100%;
	max-width: 560px;
	height: auto;
	min-height: calc(100% - 32px);
	margin: 16px auto;
	background-color: #C7C7C7;
}

.content {
	padding: 8px 0;
}
